# 무시하고 싶은 폴더 파일을 여기에 작성하면 깃이 무시해줌

# 파일명은 걍 파일명

# 디렉터리는 / 를 뒤에 적으삼
.venv/ 


# *이 모든 문자를 의미하는 와일드 카드로 사용 
*/__pycache__/

# txt 확장자를 가진 모든 파일 무시 : 
*.txt 

# 이거 하나만 제외하고 싶다면
# ! 파일명 앞에 써주면 걔는 제외할 수 있음
!requi.txt
!requirements.txt